[Desktop Entry]
Name=Cockhouse
Exec=/usr/lib/com.pondlabs.cockhouse/cockhouse %U
Terminal=false
Type=Application
Icon=cockhouse
StartupWMClass=com.pondlabs.cockhouse
Comment=Your crew's place on the internet.
Categories=Network;InstantMessaging;Chat;
Actions=ToggleMute;ToggleDeafen;Disconnect

[Desktop Action ToggleMute]
Name=Mute or Unmute
Name[pt_BR]=Silenciar ou dessilenciar
Icon=audio-input-microphone-symbolic
Exec=/usr/lib/com.pondlabs.cockhouse/cockhouse --shortcut toggle_mute

[Desktop Action ToggleDeafen]
Name=Deafen or Undeafen
Name[pt_BR]=Desativar ou reativar áudio
Icon=audio-headphones-symbolic
Exec=/usr/lib/com.pondlabs.cockhouse/cockhouse --shortcut toggle_deafen

[Desktop Action Disconnect]
Name=Disconnect
Name[pt_BR]=Desconectar
Icon=call-stop-symbolic
Exec=/usr/lib/com.pondlabs.cockhouse/cockhouse --shortcut disconnect
